$primary-color: #C03440;
$secondary-color: white;
$standard-color: black;
$primary-background: darkgray;
$button-background: lightgray;
$topBar-light: #F2F3F4;
$whiteBackrgound-light: white;
$search-light: #D9DADB;
$deepLayer-light: #E6E6E7;



//Screen Widths
$xs: 600px; //Smart phones
$sm: 768px; //Tablets (portrait)
$md: 992px; //Tablet (landscape)
$lg: 1200px; //Laptops 
$xl: 1440px; //Desktop monitor