@use "./partials/mixins";
@use "./partials/palette";

@keyframes flip {
    0%,20% {
      transform: rotateZ(360deg);
    };
}

body{
    font-family: 'Chakra Petch';
    @include mixins.flexing(column, center, center);
    height: 98vh;
    width: 98vw;
    background-color: black;
    .main{
        @include mixins.flexing(column,center, center);
        height: 98%;
        width: 98%;
        border-radius: 25px;
        background-color: #f7dab4;
        &__profile{
            //background-color: blue;
            @include mixins.flexing(row, center, center);
            width: inherit;
            height: 10%;
            gap: 10px;
           &__link{
            @include mixins.flexing(column,center, center);
            text-align: center;
            margin: 0px;
            text-decoration: none;
            color: white;
            width: auto;
            padding: 5px;
            height: 12px;
            background-color: gray;
            border-radius: 3px;
            font-size: 15px;
            letter-spacing: 3px;
            transition: 0.2s;
            &--morse{
                font-size: 10px;
                letter-spacing: 1px;
            }
            &:hover{
                color: black;
                background-color: white;
                transition: 0.2s;
            }
           }

        }
        &__translation{
            @include mixins.flexing(row, center, center);
            font-family: avenir;
            width: inherit;
            height: 60%;
            gap: 10%;
            &__button{
                height: 50px;
                width: 50px;
                animation: flip 5s infinite;
            }
            &__inner{
                @include mixins.flexing(column, start, center);
                height: 90%;
                width: 30%;
                //background-color: rgba($color: white, $alpha: 0.1);
                border-radius: 20px;
                textarea {
                    height: 70%;
                    resize: none;
                    border: none;
                    &:focus{
                        outline: none;
                    }
                }
            }

        }
        &__title{
            @include mixins.flexing(column, center, start);
            font-family: 'Chakra Petch';

            width: inherit;
            height: 10%;
            //background-color: red;
            font-size: xx-large;
            gap: 10px;
            h1 {
                padding: 0px;
                padding-left: 10%;
                margin: 0px;
                letter-spacing: 15px;
                font-size: 20px;
            }
            h5 {
                padding: 0px;
                padding-left: 10%;
                margin: 0px;
                letter-spacing: 15px;
                font-size: 15px;
            }
        }
        &__links{
            width: inherit;
            height: 10%;
        }

    }
}