@use "./partials/mixins";
@use "./partials/palette";

@keyframes flip {
    0%,20% {
      transform: rotateZ(360deg);
    };
}

body{
    font-family: 'Chakra Petch';
    @include mixins.flexing(column, center, center);
    height: 98vh;
    width: 98vw;
    background-color: black;
    .main{
        @include mixins.flexing(column,center, center);
        height: 98%;
        width: 98%;
        border-radius: 25px;
        background-color: #f7dab4;
        &__profile{
            //background-color: blue;
            @include mixins.flexing(row, center, center);
            width: inherit;
            height: 10%;
            gap: 10px;
           

        }
        &__translation{
            @include mixins.flexing(column, center, center);
            width: inherit;
            height: 60%;
            gap: 10px;
            h1{
                font-size: 30px;
                letter-spacing: 5px;
            }
            &__button{
                height: 50px;
                width: 50px;
                animation: flip 5s infinite;
            }
            &__inner{
                @include mixins.flexing(column, start, center);
                height: 40%;
                width: 80%;
                //background-color: rgba($color: white, $alpha: 0.1);
                border-radius: 20px;
                textArea {
                    text-align: start;
                    height: 40%;
                    width: 80%;
                    border-radius: 10px;
                    resize: none;
                    border: none;
                    &:focus{
                        outline: none;
                    }
                }
                #morse{
                    height: 40%;
                    width: 80%;
                    overflow-y: auto;
                    background-color: lightgray;
                    border-radius: 10px;
                }
                img{
                    cursor: pointer;
                    position: relative;
                    bottom: 85px;
                    left: 38%;
                }
            }
            &__sub{
                letter-spacing: 5px;
                font-size: 15px;

            }

        }
        &__title{
            @include mixins.flexing(column, center, start);
            width: inherit;
            height: 10%;
            //background-color: red;
            font-size: xx-large;
            gap: 10px;
            &__main {
                padding: 0px;
                padding-left: 10%;
                margin: 0px;
                letter-spacing: 15px;
                font-size: 20px;
                &--morse{
                    letter-spacing: 5px;
                    font-size: 20px;
                    transition: 0.5s;
                    opacity: 0;
                }
            }
            &__sub {
                padding: 0px;
                padding-left: 10%;
                margin: 0px;
                letter-spacing: 15px;
                font-size: 15px;
            }
        }
        &__profile{
            @include mixins.flexing(column,center, center);
            width: 80%;
            height: 10%;
            &__link{
                @include mixins.flexing(column,center, center);
                text-align: center;
                margin: 0px;
                text-decoration: none;
                color: white;
                width: auto;
                padding: 5px;
                height: 12px;
                background-color: gray;
                border-radius: 3px;
                font-size: 15px;
                letter-spacing: 3px;
                transition: 0.2s;
                &--morse{
                    font-size: 10px;
                    letter-spacing: 1px;
                }
                &:hover{
                    color: black;
                    background-color: white;
                    transition: 0.2s;
                }
               }
        }

    }
}