@keyframes flip {
  0%, 20% {
    transform: rotateZ(360deg);
  }
}
body {
  font-family: "Chakra Petch";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 98vw;
  background-color: black;
}
body .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98%;
  width: 98%;
  border-radius: 25px;
  background-color: #f7dab4;
}
body .main__profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 10%;
  gap: 10px;
}
body .main__profile__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px;
  text-decoration: none;
  color: white;
  width: auto;
  padding: 5px;
  height: 12px;
  background-color: gray;
  border-radius: 3px;
  font-size: 15px;
  letter-spacing: 3px;
  transition: 0.2s;
}
body .main__profile__link--morse {
  font-size: 10px;
  letter-spacing: 1px;
}
body .main__profile__link:hover {
  color: black;
  background-color: white;
  transition: 0.2s;
}
body .main__translation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 60%;
  gap: 10%;
}
body .main__translation__button {
  height: 50px;
  width: 50px;
  animation: flip 5s infinite;
}
body .main__translation__inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 40%;
  width: 80%;
  border-radius: 20px;
}
body .main__translation__inner textArea {
  text-align: start;
  height: 40%;
  width: 80%;
  resize: none;
  border: none;
}
body .main__translation__inner textArea:focus {
  outline: none;
}
body .main__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: inherit;
  height: 10%;
  font-size: xx-large;
  gap: 10px;
}
body .main__title h1 {
  padding: 0px;
  padding-left: 10%;
  margin: 0px;
  letter-spacing: 15px;
  font-size: 20px;
}
body .main__title h5 {
  padding: 0px;
  padding-left: 10%;
  margin: 0px;
  letter-spacing: 15px;
  font-size: 15px;
}
body .main__links {
  width: inherit;
  height: 10%;
}
